In [6]:
import nltk
from nltk.corpus import brown
from collections import Counter, defaultdict
from tqdm import tqdm_notebook
import pandas as pd

In [3]:
nltk.download("brown")

[nltk_data] Downloading package brown to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\brown.zip.

True

In [4]:
len(brown.tagged_words())

1161192

In [13]:
# x is a dict which will have the word as key and pos tags as values 
x = defaultdict(list) # uncased
y = defaultdict(list) # cased

for word, pos in tqdm_notebook(brown.tagged_words(), total=len(brown.tagged_words())):
    if pos not in x[word.lower()]:        # to append one tag only once
        x[word.lower()].append(pos)       # adding key-value to x
        y[word].append(pos)

C:\Users\User\AppData\Local\Temp\ipykernel_7332\661113933.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for word, pos in tqdm_notebook(brown.tagged_words(), total=len(brown.tagged_words())):

  0%|          | 0/1161192 [00:00<?, ?it/s]

In [14]:
x = pd.DataFrame(pd.Series(x))
y = pd.DataFrame(pd.Series(y))

In [15]:
x

                                                      0
the            [AT, AT-TL, AT-HL, AT-NC, NIL, AT-TL-HL]
fulton                                      [NP-TL, NP]
county                               [NN-TL, NN, NN-HL]
grand                             [JJ-TL, JJ, FW-JJ-TL]
jury                                 [NN-TL, NN, NN-HL]
...                                                 ...
aviary                                             [NN]
olive-flushed                                      [JJ]
coral-colored                                      [JJ]
boucle                                             [NN]
stupefying                                        [VBG]

[49815 rows x 1 columns]

In [16]:
x.to_csv("brown_corpus_tags.csv", sep=';')